@import "tailwindcss";

@theme {
  /* This is where you configure your custom colors now */
  --color-brand-blue: #dbeafe;
  --color-brand-purple: #4f46e5;
  --color-card-dark: #2e3b55;
  
  /* You can add fonts here too if needed later */
}

/* Global Styles */
body {
  background: linear-gradient(135deg, #a5b4fc 0%, #c4b5fd 50%, #99f6e4 100%);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}