@import "tailwindcss";


/* Global Styles */
body {
  background: repeating-linear-gradient(135deg, #9eadf7 0%, #72f2e5d7 50%, #72559d97 100%);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}